.heroBlocks{
    display:flex;
    flex-direction: row;
    justify-content: start;
      
}
body{
  /* /  padding: 0 10px 0 10px; */
}
h2{
    font-size: 18px;
    margin: 2px 0 2px 0;
    font-weight: bold;
}
h1{
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}
.heroObj{
    padding: 15px;
    border: 2px;
    border-style: solid;
    margin: 10px;;
}

#gameTitle{
    float: right;
    font-weight: bold;
    padding-right: 50px;
}

#clearfix{
    clear:both;
}

.heroImg{
    display: block;
    width: 100px;
    height: 100px;
}